@charset "utf-8";
html,body{overflow:hidden;overflow-y:auto;}
.bg_color{ background-color:#FFF;}
.bottom_btn{width: 10rem;height: 1.1704rem; position: fixed;bottom: 0;}
/*首页*/
.sy_wrap{
    width:10rem;
    height:100vh;
    background:#f5f3f2;
}
.sy_t{
    width:10rem;
    height:1.17304rem;
    background:url(../img/sy_img.jpg) no-repeat;
    background-size:100%;
    color:#fff;
    text-align:center;
    line-height:1.17304rem;
    font-size:0.47988rem;
}
.cs_banner{
    position:relative;
}
.index#focus .bd li img{
    height:3.999rem;
}
.index#focus .hd ul{
    width:100%;
    position: absolute;
    bottom:0.2rem;
    left:4rem;
    text-align: center;
}
.index#focus .hd li{
    display: inline-block;
    margin-left:0.2rem;
    width:0.11997rem;
    height:0.11997rem;
    background:#efeded;
    border-radius: 50%;
}
.index#focus .hd li:first-child{
    margin-left:0;
}
.index#focus .hd li.on{
    background-color: #bb1119;
}
.sy_b{
    padding:0.2666rem 0.2666rem;
}
.sy_nav{
    width:9.41098rem;
    height:2.1328rem;
    background:url(../img/sy_img_2.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.sy_nav ul{
    overflow: hidden;
    padding:0.34658rem 1.1997rem;
}
.sy_nav ul li{
    float:left;
    font-size:0.3999rem;
    color:#323232;
    width:1.9rem;
    text-align:center;
}
.sy_nav ul li p{
    width:0.85312rem;
    height:0.82646rem;
    margin:0 auto;
    padding-bottom:0.23994rem;
}
.sy_nav ul .sy_pl{
    padding:0 0.6rem;
}
.sy_nav ul li a{
    color:#323232;
}
.sy_number{
    width:9.41098rem;
    height:3.1rem;
    background:url(../img/sy_img_7.png) no-repeat;
    background-size: 145%;
    overflow: hidden;
    margin:0.1666rem 0;
}
.sy_pr{
    overflow: hidden;
    padding:0.3rem 0.19995rem;
}
.sy_l{
    width:83%;
    float:left;
    padding-top:0.1rem;
}
.sy_sc{
    color:#323232;
    font-size:0.42656rem;
}
.sy_sc em{
    font-weight: bold;
}
.sy_sc i{
    font-size:0.3999rem;
    padding-left:0.5332rem;
}
.sy_hm{
    overflow: hidden;
    padding-top:0.2666rem;
}
.sy_hm li{
    width:0.6665rem;
    height:0.6665rem;
    float:left;
    color:#323232;
    font-size:0.47988rem;
    font-weight: bold;
    background:url(../img/sy_img_8.png) no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 0.6665rem;
    margin-left:0.05332rem;
}
.sy_hm li:first-child{
    margin-left:0;
}
.sy_r{
    margin-top:0.3rem;
    width:1.51962rem;
    float:right;
    color:#323232;
    font-size:0.37324rem;
    text-align:center;
}
.sy_r p{
    width:1.27968rem;
    height:1.27968rem;
    padding-bottom:0.1333rem;
}
.sy_r a{
    color:#323232;
}
.sy_game{
    overflow: hidden;
}
.sy_game ul li{
    width:4.47888rem;
    height:2.58602rem;
    float:left;
    margin-top:0.3999rem;
    margin-left:0.3999rem;
}
.sy_game ul .sy_yx_1,.sy_game ul .sy_yx_2{
    margin-top:2px;
}
.sy_game ul .sy_yx_1,.sy_game ul .sy_yx_3{
    margin-left:0;
}
.sy_bottom{
    width:10rem;
    height:1.62626rem;
    position: fixed;
    bottom:0;
    left:0;
    background:url(../img/sy_img_9.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.sy_bottom ul{
    padding:0 0.2666rem 0;
    overflow: hidden;
}
.sy_bottom li{
    float:left;
    width:1.5332rem;
    color:#a8a8a8;
    font-size:0.2666rem;
    text-align: center;
    padding-left:0.3999rem;
    padding-top:0.46rem;
}
.sy_bottom li:first-child{
    padding-left:0;
}
.sy_bottom .sy_kj{
    padding-top:0.5332rem;
    padding-bottom:0.1333rem;
}
.sy_bottom li a{
    color:#a8a8a8;
    overflow: hidden;
}
.sy_bottom .sy_color a{
    color:#f23806;
}
.sy_bottom .sy_kj p{
    width:0.57319rem;
    height:0.49321rem;
    margin:0 auto;
    padding-bottom:0.13rem;
}
.sy_bottom .sy_yxdt{
    padding-top:0.08rem;
    padding-left:0.5332rem;
}
.sy_bottom .sy_kf,.sy_bottom .sy_wd{
    padding-top:0.5rem;
}
.sy_bottom .sy_tg p{
    width:0.51987rem;
    height:0.57319rem;
    margin:0 auto;
    padding-bottom:0.13rem
}
.sy_bottom .sy_yxdt p{
    width:0.95976rem;
    height:0.95976rem;
    margin:0 auto;
    padding-bottom:0.1rem
}
.sy_bottom .sy_kf p{
    width:0.63984rem;
    height:0.5332rem;
    margin:0 auto;
    padding-bottom:0.13rem
}
.sy_bottom .sy_wd p{
    width:0.47988rem;
    height:0.5332rem;
    margin:0 auto;
    padding-bottom:0.13rem
}
/*首页 END*/

/*开奖 START*/
.kj_text{
    width:10rem;
    height:1.31967rem;
    overflow: hidden;
    background:#fff;
    line-height: 1.31967rem;
}
.kj_text ul li{
    float:left;
    width:4.98542rem;
    color:#333;
    font-size:0.3999rem;
    border-left:1px solid #bfbfbf;
}
.kj_text ul li .kj_a{
    padding:0 0.76rem;
}
.kj_text ul li:first-child{
    border-left:none;
}
.kj_text ul li p{
    width:0.58652rem;
    height:0.50654rem;
    display: inline-block;
    margin-left: 0.5332rem;
}
.kj_text ul li:first-child p{
    width:0.41323rem;
    height:0.23994rem;
    display: inline-block;
    margin-left: 1.2666rem;
}
.kj_text ul li .kj_img{
    width:0.58652rem;
    height:0.50654rem;
    margin-left: 0.2666rem;
}
.kj_text ul li .kj_img img{
    margin-top:0.1333rem;
}
.kj_m{
    margin-top:0.34658rem;
    background:#fff;
    padding:0.2666rem 0 6rem;
}
.kj_t{
    font-size:0.3999rem;
    overflow:hidden;
    padding-bottom: 0.2666rem;
    border-bottom:1px solid #eee;
}
.kj_t_l{
    float:left;
    overflow: hidden;
    padding-top:0.2666rem;
    padding-bottom:0.2666rem;
}
.kj_t_l span{
    color:#333;
    /*padding-left:1rem;*/
    display: inline-block;
    width: 1.852rem;
    text-align: right;
}

.kj_t_r{
    float: left;
    color:#fff;
    overflow: hidden;
    padding-left:0.1333rem;
}
.kj_t_r ul li{
    float: left;
    padding:0.1735rem;
    background:#999;
    border-radius: 0.1333rem;
    margin-left:0.1rem;
}
.kj_t_r ul .kj_hm{
    background:#f23807;
}
.kj_sz{
    overflow: hidden;
    color:#222;
    font-size:0.31992rem;
    padding:0.1333rem 0 0.19995rem 2.933rem;
}
.kj_sz ul{
    padding-right:0.2666rem;
    overflow: hidden;
}
.kj_sz ul li{
    float:left;
    width:0.55986rem;
    text-align:center;
    margin-left:0.1333rem;
}
.kj_sz ul li:first-child{
    margin-left:0;
}
.kj_wrap{
    overflow: hidden;
}
.kj_wrap_l{
    float:left;
    color:#333;
    font-size:0.31992rem;
    /*padding-top:0.1333rem;*/
}
.kj_wrap_l span{
    padding-left:0.16rem;
}
.kj_wrap .kj_ul {
    overflow: hidden;
}
.kj_wrap .kj_ul .kj_li{
    overflow: hidden;
    padding:0.05332rem 0;
    margin-bottom:0.1333rem;
}
.kj_wrap .kj_ul .kj_bg{
    background:#f0ecea;
}
.kj_wrap_r{
    float:left;
    overflow: hidden;
    padding-left:0.05332rem;
}
.kj_wrap_r ul li{
    float:left;
    width:0.55986rem;
    height:0.55986rem;
    /*padding-left:0.1333rem;*/
}
/*弹窗1*/
dl,dt,dd{
    margin:0;
    padding:0;
}
.tc_1{
    width:10rem;
    height:100vh;
    background:rgba(0,0,0,.4);
    position:fixed;
    top:0;
    left:0;
    display: none;
    overflow-y: scroll;
}
.tc_yy{
    float:left;
    width:2.85262rem;
    height:100vh;
}
.tc_box{
    float:right;
    width:7.14488rem;
    /*height:100vh;*/
    background:#fff;
    z-index: 999;
}
.tc_pl{
    background-color: #fff!important;
    position: absolute;
    right: -6rem;
    top: 0;
    bottom: 0;
    width: 7.6rem;
    color:#555;
    font-size:0.31992rem;
    padding:0.3999rem 0.46rem;
    /*overflow: hidden;*/
    overflow-y: auto;
}
.tc_pl .line{
    display:inline-block;
    width:33%;
    border-top:1px solid #cccccc;
    vertical-align:5px;
}
.tc_pl .center{
    text-align: center;
    display: inline-block;
    width:2rem;
}
.tc_pl dl{
    overflow:hidden;
    padding-bottom:0.47988rem;
}
.tc_pl dt{
    padding-bottom:0.2666rem;
}
.tc_pl dt em{
    color:#cecece;
}
.tc_pl dd{
    width:2rem;
    text-align: center;
    float:left;
    padding:0.2666rem 0.1333rem;
    background:#e5e5e5;
    border-radius: 0.1333rem;
    margin-left:0.2rem;
    margin-bottom:0.2rem;
}

.tc_pl .tc_a{
    color:#fff;
    background:#f23807;
}
/*弹窗1 END*/
/*弹窗2 START*/
.kj_text ul li input {
    width:2.1rem;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    padding: 0 7px;
    height: 100%;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    font-size: 14px;
}

.kj_text ul li button {
    background-color: #00c599;
    color: #fff;
    border: 0;
    height: 100%;
    margin-left: 8px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 14px;
}

/*弹窗2 END*/
/*开奖 END*/
/*客服 START*/
.kf_wrap{
    position:relative;
}
.kf_a{
    background:#fff;
    overflow: hidden;
    padding:0.3999rem 0;
}
.kf_chat{
    overflow: hidden;
}
.kf_w{
    padding:0 0.3999rem;
}
.kf_tx{
    float:left;
    width:1.13305rem;
    height:1.13305rem;
    border-radius: 10rem;
}
.kf_p{
    float:left;
    color:#f23807;
    font-size: 0.42656rem;
    padding-left:0.2666rem;
    padding-top:0.1333rem;
}
.kf_p p{
    line-height:0.5332rem;
}
.kf_p .kf_js{
    color:#666;
    font-size: 0.31992rem;
}
.kf_l{
    float:left;
    width:8.18462rem;
    color:#fff;
    font-size: 0.37324rem;
    line-height: 0.5332rem;
    margin-top:0.2666rem;
    background:url(../img/kf_ltk.png) no-repeat;
    background-size:100% 100%;
    padding:0.1333rem 0 0.1333rem 0.3999rem;
}
.kf_l_2{
    background:url(../img/kf_ltk_3.png) no-repeat;
    background-size:100% 100%;
}
.kf_l ul{
    padding:0 0 0.3999rem;
}
.kf_l ul li{
    padding:0.1333rem 0;
    margin-right:0.2666rem;
    border-bottom:1px solid #fff;
}
.kf_l ul li p{
    width:0.3999rem;
    height:0.3999rem;
    display: inline-block;
    margin-right:0.1333rem
}
.kf_r{
    float:right;
    width:3.23919rem;
    color:#333;
    font-size: 0.37324rem;
    line-height: 0.5332rem;
    margin-top:0.2666rem;
    background:url(../img/kf_ltk_2.png) no-repeat;
    background-size:100% 100%;
    padding:0.1333rem 0 0.1333rem 0.3999rem;
}
.kf_xx{
    background:#fff;
    overflow: hidden;
    position:absolute;
    left:0;
    bottom:-4.4rem;
    padding:0.1333rem 0.2666rem;
}
.kf_xx ul li{
    float:left;
    padding-left:0.22rem;
}
.kf_xx ul li:first-child{
    padding-left:0;
}
.kf_xx ul li input{
    width:7.1982rem;
    height:0.97309rem;
    border-radius: 0.1333rem;
    border:1px solid #ddd;
    padding-left:0.2666rem;
}
.kf_xx ul li  input::-webkit-input-placeholder{
    font-size:0.37324rem;
    color:#ccc;
}
.kf_xx ul li  input::-moz-placeholder{
    font-size:0.37324rem;
    color:#ccc;
}
.kf_xx ul li  input:-moz-placeholder{
    font-size:0.37324rem;
    color:#ccc;
}
.kf_xx ul li  input:-ms-input-placeholder{
    font-size:0.37324rem;
    color:#ccc;
}
.kf_icon{
    width:0.74648rem;
    height:0.74648rem;
    display: block;
    margin-top:0.2666rem;
}
/*客服 END*/
/*通告 START*/
.tg_box{
    padding:0.2666rem 0.3999rem;
}
.tg_pb{
    margin-bottom: 0.3999rem;
}
.tg_xx{
    width:9.1977rem;
    color:#333;
    font-size:0.37324rem;
    background:#fff;
    border-radius: 0.1333rem;
    box-shadow:1px 2px 1px 0 rgba(0,0,0,.1);
}
.tg_pl{
    padding:0.2666rem 0.3999rem;
}
.tg_pl p{
    line-height:0.5rem;
}
.tg_pl .tg_b{
    font-size: 0.3999rem;
    font-weight: bold;
}
.tg_pl .tg_a{
    padding:0.1333rem 0;
}
.tg_pl .tg_time{
    text-align: right;
    color:#999;
    font-size: 0.31992rem;
}
.tg_ckxq{
    border-top:1px solid #dfdfdf;
}
.tg_ckxq a{
    color:#999;
}
.tg_ckxq p{
    width:0.22661rem;
    height:0.3999rem;
    display: inline-block;
    float:right;
}
/*通告 END*/
/*通告详情 START*/
.sy_t a{
    width:0.2666rem;
    height:0.46655rem;
    display: inline-block;
    float: left;
    padding-left: 0.3999rem;
    padding-top: 0.3666rem;
}
.tg_tgxq{
    text-align:center;
    color:#222;
    font-size:0.47988rem;
    border-bottom: 1px solid #dfdfdf;
    padding:0.47988rem 0 0.2666rem;
}
.tgxq_time{
    color:#999;
    font-size: 0.31992rem;
    padding-top:0.2666rem;
}
.tgxq_nr{
    color:#4c4c4c;
    word-break: normal;
    text-align: justify;
    padding:0.3999rem;
    line-height: 0.5332rem;
}
/*通告详情 END*/
/*我的 STARTT*/
.wd_box{
    width:10rem;
    height:5.71857rem;
    background:url(../img/wd_img_1.png) no-repeat;
    background-size:100%;
}
.wd_w{
    overflow:hidden;
}
.wd_pl{
    padding:0.9331rem 0.3999rem 0;
}
.wd_tx{
    float:left;
    width:1.97284rem;
    height:1.97284rem;
}
.wd_yhm{
    float:left;
    color:#fff;
    font-size: 0.42656rem;
    padding:0.5332rem 0 0 0.3999rem;
}
.wd_yhm .wd_ye{
    font-size: 0.31992rem;
    padding-top:0.2666rem;
}
.wd_one{
    background:#fff;
    border-radius:0.1333rem;
    box-shadow:1px 2px 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    margin-top:0.9331rem;
}
.wd_one ul{
    padding:0.2666rem 0.6999rem;
    overflow: hidden;
}
.wd_one ul li{
    float:left;
    width:1.4663rem;
    text-align:center;
    font-size:0.34658rem;
    margin-left:1.7rem;
}
.wd_one ul li:first-child{
    margin-left:0;
}
.wd_one ul li a{
    color:#333;
}
.wd_one ul li p{
    width:1.333rem;
    height:1.34633rem;
    padding-bottom:0.2666rem;
}
.wd_wz{
    color:#292929;
    font-size:0.37324rem;
    padding:0.5332rem 0 0.2666rem;
}
.wd_m{
    overflow: hidden;
}
.wd_m ul li{
    overflow: hidden;
    background:#fff;
    border-radius:0.1333rem;
    box-shadow:1px 2px 1px 0 rgba(0,0,0,.1);
    margin-bottom:0.2666rem;
}
.wd_pl{
    overflow: hidden;
    padding:0.3999rem;
}
.wd_m ul .wd_icon_1{
    float:left;
    width:0.45322rem;
    height:0.45322rem;
}
.wd_wddd{
    float:left;
    color:#666;
    font-size:0.37324rem;
    padding-top:0.1rem;
    padding-left:0.3999rem;
}
.wd_arrow{
    float:right;
    width:0.22661rem;
    height:0.3999rem;
}
.wd_tc{
    text-align:center;
    color:#333;
    font-size:0.37324rem;
    margin-top: 2.666rem;
}
.wd_tc a{
    text-align:center;
    color:#333;
}
.wd_tc p{
    width:0.45322rem;
    height:0.45322rem;
    display: inline-block;
    padding-right: 0.1333rem
}
.wd_tc p img{
    margin-top:0.09rem;
}
/*我的 END*/
/*充提记录 START*/
.ctjl_box ul{
    overflow: hidden;
    background:#fff;
}
.ctjl_box ul li{
    overflow:hidden;
    padding:0.2666rem 0;
    border-bottom:1px solid #ddd;
}
.ctjl_box ul .ctjl_b{
    overflow: hidden;
    padding:0 0.2666rem;
}
.ctjl_box ul .ctjl_l{
    float:left;
    color:#222;
    font-size:0.42656rem;
}
.ctjl_box ul .ctjl_txfs,.kf_box ul .ctjl_time{
    color:#333;
    font-size: 0.31992rem;
}
.ctjl_box ul .ctjl_time,.kf_box ul .ctjl_yue{
    color:#a2a2a2;
}
.ctjl_box ul p{
    line-height:0.5332rem;
}
.ctjl_box ul .ctjl_r{
    float:right;
    color:#f23807;
    font-weight: bold;
    font-size:0.42656rem;
    padding-top: 0.5332rem;
}
.ctjl_yue{
    font-weight: normal;
    font-size: 0.31992rem;
}
/*充提记录 END*/
/*个人信息 START*/
.grxx_box{
    margin-top:0.1333rem;
    background:#fff;
    overflow: hidden;
}
.grxx_box ul{
    overflow: hidden;
    padding:0 0.2666rem;
}
.grxx_box ul li{
    overflow: hidden;
    padding:0.3999rem 0;
    border-bottom:1px solid #ddd;
}
.grxx_l{
    float:left;
    color:#333;
    font-size:0.42656rem;
}
.grxx_r{
    float:right;
    color:#999;
    font-size: 0.31992rem;
}
.grxx_color{
    color:#70ac7a;
}
/*个人信息 END*/
/*游戏大厅-充值 START*/
.cz_box{
    margin-top:0.2666rem;
}
.cz_t{
    text-align:center;
    padding:0.3999rem 0;
    background:#fff;
}
.cz_t p{
    color:#999;
    font-size: 0.31992rem;
}
.cz_t .cz_jine{
    color:#f23807;
    font-size:0.95976rem;
    padding-top:0.2666rem;
}
.cz_text{
    overflow: hidden;
    background:#fff;
    margin-top:0.2666rem;
}
.cz_wrap{
    padding:0.3999rem;
}
.cz_text ul{
    overflow: hidden;
}
.cz_text ul li{
    float:left;
    padding:0.5332rem 0.31rem;
    font-size:0.47988rem;
    color:#555;
    border:3px solid #dfdfdf;
    border-radius: 0.1333rem;
    margin-left:0.1333rem;
}
.cz_text ul li:first-child{
    margin-left:0;
}
.cz_text ul .cz_alt{
    color:#f23807;
    border:3px solid #f23807;
}
.cz_srje{
    overflow:hidden;
    padding:0.3999rem 0;
    border:3px solid #dfdfdf;
    border-radius: 0.1333rem;
    margin-top:0.3999rem;
    text-align: center;
}
.cz_money{
    float:left;
    color:#333;
    font-size: 0.5332rem;
    font-weight: bold;
    padding-left:1.6999rem;
}
.cz_fl{
    float:left;
    border:none;
    font-size:0.42656rem;
    background:none;
    padding-left:0.3999rem;
    color:#bfbfbf;
    font-size:0.47988rem;
}
.cz_input input::-webkit-input-placeholder{
    font-size:0.47988rem;
    color:#bfbfbf;
}
.cz_input input::-moz-placeholder{
    font-size:0.47988rem;
    color:#bfbfbf;
}
.cz_input input:-moz-placeholder{
    font-size:0.47988rem;
    color:#bfbfbf;
}
.cz_input input:-ms-input-placeholder{
    font-size:0.47988rem;
    color:#bfbfbf;
}
.cz_ts{
    overflow: hidden;
}
.cz_icon{
    float:left;
    width:0.45322rem;
    height:0.45322rem;
}
.cz_jg{
    float:left;
    width:8.3979rem;
    font-size:0.31992rem;
    color:#333;
    line-height:0.5332rem;
    padding-left:0.2666rem;
}
ol,li{
    margin:0;
    padding:0;
    list-style: none;
}
.cz_ol ol li{
    color:#333;
    font-size:0.37324rem;
    padding:0.3999rem 0;
    overflow:hidden;
    border-top:1px solid #eee;
}
.cz_ol ol li:first-child{
    border-top:none;
}
.cz_ol ol .cz_pl{
    padding:0.2rem 0.3999rem;
    margin: -0.2rem 0;
    overflow: hidden;
}
.cz_ol ol .cz_a{
    float:left;
    font-weight:bold;
}
.cz_ol ol .cz_b{
    float:left;
    padding-left:0.6999rem;
}
.cz_ol ol .cz_xl{
    float:right;
    width:0.41323rem;
    height:0.23994rem;
}
.cz_jg a{
    color:#f23807;
}
.cz_box .cz_btn{
    margin-top:2.1328rem;
}
/*游戏大厅-充值 END*/
/*游戏大厅-提现 START*/
.tx_yhkxx{
    padding:0.2666rem 0;
    color:#666;
    font-size:0.34658rem;
}
.tx_ul{
    overflow: hidden;
    background:#fff;
}
.tx_ul ul{
    padding:0 0.3999rem;
}
.tx_ul ul li{
    color:#333;
    overflow: hidden;
    font-size:0.37324rem;
    padding:0.3999rem 0;
    border-bottom:1px solid #dfdfdf;
}
.tx_l{
    float:left;
}
.tx_r{
    float:right;
    margin-top:-0.2666rem;
}
/*.tx_r a{
    color:#333;
}*/
.tx_r select{
    border:none;
    font-size: 0.37324rem;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width:80px;
}
.tx_r select option{
    padding-top:0.1333rem;
    width:80px;overflow-x:hidden;
}

.tx_r p{
    width:0.22661rem;
    height:0.3999rem;
    display: inline-block;
    margin-top: 0.1333rem;
    margin-left:0.2666rem;
}
.tx_r p img{
    padding-top: 0.1rem;
}
.tx_input{
    float:left;
    border:none;
    background:none;
    color:#999;
    font-size:0.37324rem;
    padding:0 0 0 0.3999rem;
}
.tx_input input::-webkit-input-placeholder{
    font-size:0.37324rem;
    color:#999;
    margin-top:-0.133rem;
}
.tx_input input::-moz-placeholder{
    font-size:0.37324rem;
    color:#999;
}
.tx_input input:-moz-placeholder{
    font-size:0.37324rem;
    color:#999;
}
.tx_input input:-ms-input-placeholder{
    font-size:0.37324rem;
    color:#999;
}
.tx_zyts{
    color:#f08a26;
    font-size:0.37324rem;
    background:#fefedc;
    padding:0.3999rem;
    line-height:0.6999rem;
}

/*游戏大厅-提现 END*/


/*登录 START*/
.dl_wrap{
    width:10rem;
    height:100vh;
    background:#fff;
}
.dl_pl{
    padding:0 0.5332rem;
}
.dl_box{
    padding:0.3999rem 0;
    overflow: hidden;
}
.dl_close{
    float:left;
    width:0.35991rem;
    height:0.35991rem;
}
.dl_zc{
    float:right;
    color:#7b7b7b;
    font-size: 0.37324rem;
}
.dl_zc a{
    color:#7b7b7b;
}
.dl_txt{
    color:#202020;
    font-size:0.55986rem;
    padding-top:0.6999rem;
}
.dl_hy{
    color:#7b7b7b;
    font-size:0.31992rem;
    padding-top:0.3999rem;
}
.dl_wbk{
    overflow: hidden;
    padding-top:0.5332rem;
}
.dl_wbk ul li{
    overflow: hidden;
    padding:0.3999rem 0;
    border-bottom:1px solid #dcdcdc;
}
.dl_wbk ul .dl_img{
    float:left;
    width:0.38657rem;
    height:0.42656rem;
}
.dl_wbk ul .dl_input{
    float:left;
    border:none;
    font-size:0.3999rem;
    color:#ababab;
    padding-left: 0.2666rem;
    background:none;
}
.dl_wbk ul input::-webkit-input-placeholder{
    font-size:0.3999rem;
    color:#ababab;
}
.dl_wbk ul input::-moz-placeholder{
    font-size:0.3999rem;
    color:#ababab;
}
.dl_wbk ul input:-moz-placeholder{
    font-size:0.3999rem;
    color:#ababab;
}
.dl_wbk ul input:-ms-input-placeholder{
    font-size:0.3999rem;
    color:#ababab;
}
.dl_wbk ul .dl_li{
    padding-bottom:0.2666rem;
}
.dl_wbk ul .dl_yzm{
    float:right;
    width:2.22611rem;
    height:0.82646rem;
    margin-top:-0.1333rem;
}
.dl_button{
    width:8.9311rem;
    height:1.17304rem;
    margin:0 auto;
    background:url(../img/dl_button.png) no-repeat;
    background-size: 100%;
    line-height:1.17304rem;
    color:#fff;
    font-size: 0.3999rem;
    text-align:center;
    margin-top:0.6999rem;
}
.dl_button a{
    width:8.9311rem;
    height:1.17304rem;
    line-height:1.17304rem;
    color:#fff;
    display: block;
}
.dl_wjmm{
    color:#7b7b7b;
    text-align: center;
    font-size:0.31992rem;
    padding-top:0.2666rem;
}
/*登录 END*/
/*忘记密码 START*/
.wjmm_icon{
    width:0.2666rem;
    height:0.45322rem;
}
.dl_wbk ul .wjmm_img{
    float:left;
    width:0.34658rem;
    height:0.45322rem;
}
.dl_wbk ul .yzm_mt{
    margin-top:0.1333rem;
}
.wjmm_hq{
    float:right;
    color:#f23807;
    font-size:0.42656rem;
    padding:0.1333rem 0 0.1333rem 0.2666rem;
    border-left:1px solid #dcdcdc;
}
.wjmm_hq a{
    color:#f23807;
}
/*忘记密码 END*/
/*注册 START*/
.zc_img{
    width:0.38657rem;
    height:0.45322rem;
}
.zc_btn{
    margin-top:2.666rem;
}
/*注册 END*/
/*我的-订单记录 START*/
.ddjl_text{
    color:#333;
    background:#fff;
    overflow: hidden;
    padding:0.3999rem 0.5332rem 0.2666rem;
}
.ddjl_text input{
    float:left;
    width:2.1rem;
    border:none;
    font-size:0.37324rem;
    color:#333;
    padding: 0;
    margin-bottom: 0;
    height: 16px;
    line-height: 16px;
}
.ddjl_icon{
    float:left;
    width:0.21328rem;
    height:0.18662rem;
    margin-top: 0.1333rem;
}
.ddjl_line{
    float:left;
    color:#666;
    margin-top:-0.3999rem;
    padding:0 0.2666rem;
}
.ddjl_sx{
    float:right;
    width:1.9995rem;
    height:0.7998rem;
    line-height: 0.7998rem;
    text-align:center;
    background:#f75204;
    border-radius: 10rem;
    color:#fff;
    font-size: 0.3999rem;
    margin-top:-0.16rem;
}
.ddjl_table{
    width:10rem;
    overflow: hidden;
}
.ddjl_nva{
    padding:0.3999rem 0.3999rem;
    background:#444;
    color:#fff;
    font-size:0.42656rem;
    overflow: hidden;
}
.ddjl_nva ul li{
    float:left;
    padding-left:0.76rem;
}
.ddjl_nva ul li:first-child{
    padding-left:0.3999rem;
    padding-right:1rem;
}
.ddjl_nav_nr{
    overflow: hidden;
}
.ddjl_nav_nr ul{
    overflow: hidden;
    background:#fff;
    padding-top:0.1333rem;
    padding-bottom:0.1333rem;
    border-bottom:1px solid #ddd;
}
.ddjl_nav_nr ul li{
    float:left;
    line-height:0.46rem;
    font-size:0.33325rem;
    text-align: center;
}
.ddjl_nav_nr ul li:first-child{
    width:2.99925rem;
    text-align: center;
    margin-left:0.1333rem;
}
.ddjl_nav_nr ul .ddjl_number,.ddjl_nav_nr ul .ddjl_bjsc,.ddjl_nav_nr ul .ddjl_pk{
    font-size:0.33325rem;
    color:#f23807;
}
.ddjl_nav_nr ul .ddjl_rq,.ddjl_nav_nr ul .ddjl_time{
    color:#555;
    font-size:0.29326rem;
}
.ddjl_nav_nr ul .ddjl_nr_plo{
    width:2.07948rem;
    padding-left:0.1rem;
}
.ddjl_nav_nr ul .ddjl_nr_plt{
    width:1.3rem;
    padding-bottom:0.3999rem;
}
.ddjl_nav_nr ul .ddjl_ky,
.ddjl_nav_nr ul .ddjl_xz{
    width:1.5rem;
}
.ddjl_nav_nr ul .ddjl_ky{
    padding-left:0.2666em;
    padding-right: 0;
}
.ddjl_nav_nr ul .ddjl_bjsc{
    color:#333;
}
.ddjl_nav_nr ul .ddjl_pk{
    color:#34589b;
}
/*我的-订单记录 END*/
/*我的-个人报表 START*/
.grbb_box{
    overflow: hidden;
    background:#fff;
    margin-top:0.3999rem;
}
.grbb_box .grbb_text{
    padding:0 0.3999rem;
}
.grbb_box ul li{
    color:#333;
    overflow: hidden;
    font-size: 0.37324rem;
    padding:0.3999rem 0;
    border-bottom:1px solid #ddd;
}
.grbb_fl{
    float:left;
}
.grbb_fr{
    float: right;
    color:#999;
}
.grdd_color{
    color:#f23807;
}
/*我的-个人报表 END*/
/*我的-流水账 START*/
.lsz_box{
    width:10rem;
}
.lsz_text{
    color:#fff;
    font-size:0.42656rem;
    overflow: hidden;
    background:#444;
    padding:0.3999rem 0.3999rem;
}
.lsz_text ul li{
    float:left;
    padding:0 0.3999rem;
}
.lsz_text ul li:first-child{
    padding-left:0;
}
.lsz_zs{
    overflow: hidden;
    background:#fff;
}
.lsz_zs ul li{
    color:#333;
    font-size:0.37324rem;
    padding:0.3999rem 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.lsz_pl{
    padding:0 0.2666rem;
}
.lsz_t,.lsz_name,.lsz_je,.lsz_zhye,.lsz_xq{
    float:left;
    padding-left:0.5332rem;
}
.lsz_t{
    padding:0;
}
.lsz_je{
    padding-left:0.3999rem;
}
.lsz_zhye{
    padding-left:1rem;
}
/*我的-流水账 END*/
/*游戏大厅-游戏记录 START*/
.yxjl_text{
    overflow:hidden;
    color:#666;
    font-size:0.42656rem;
    font-weight: bold;
}
.yxjl_text ul li{
    float:left;
    text-align: center;
    padding:0.3999rem 0;
    width:3.3325rem;

}
.yxjl_text ul .yxjl_alt{
    color:#333;
    /*background:#fff;
    border-bottom:4px solid #e9001d;*/
}
.yxjl_sx{
    float:left;
    color:#333;
    font-size:0.37324rem;
    padding-left:1.2333rem;
}
.yxjl_sx select{
    border:none;
    color:#333;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding:0 0.2666rem;
    font-size:0.37324rem;
    background:url(../img/ddjl_icon_1.png) center right no-repeat;
    background-size:0.21328rem 0.18662rem;
}
.yxjl_sx select option{
    color:#333;
    padding: 0.5332rem 0;
}
/*select::-ms-expand { display: none; }*/
.yxjl_nav{
    overflow: hidden;
    background:#fff;
    border-top:1px solid #ddd;
}
.yxjl_nav ul li{
    float:left;
    width:2.49271rem;
    text-align: center;
    color:#666;
    font-size:0.42656rem;
    padding:0.3999rem 0;
    /*font-weight: bold;*/
}
.yxjl_nav ul .yxjl_con{
    color:#f23807;
    border-bottom:4px solid #f23807;
}
.yxxq_qh{
    color:#fff;
    font-size:0.42656rem;
    overflow: hidden;
    background:#444;
    padding:0.3999rem 0.2666rem;
}
.yxxq_ul ul{
    display: none;
}
.yxxq_ul .yxxq_block{
    display:block;
}
.yxxq_qh ul li{
    float:left;
    padding:0 0.64rem;
}
.yxxq_t,.yxxq_tzje,.yxxq_zt{
    float:left;
    padding-left:0.2666rem;
}
.yxxq_tzje{
    padding-left:1.333rem;
}
.yxxq_zt{
    padding-left:1.6rem;
}
/*游戏大厅-游戏记录 END*/
/*游戏大厅-投注 START*/
.tz_all{
    width:10rem;
}
.tz_pl{
    overflow: hidden;
    padding:0 0.2666rem;
}
.tz_pl .tz_fh{
    padding-left: 0;
}
.tz_bjsc{
    float:left;
    padding-left:2.3rem;
}
.tz_money{
    float:right;
    color:#fff;
    font-size:0.3999rem;
    padding-right:0.5332rem;
    background:url(../img/tz_icon_1.png) center right no-repeat;
    background-size:0.30659rem 0.19995rem;
}
.tz_xlk{
    display: none;
    position:fixed;
    right:0.2666rem;
    top:1.16rem;
    float:right;
    width:5.10539rem;
    border-radius: 0.1333rem;
    background:#535353;
    padding:0 0.5332rem;
    z-index: 999999;
}
.tz_xlk ul li{
    color:#fff;
    overflow: hidden;
    font-size:0.29326rem;
    padding:0;
    border-top:1px solid #646464;
}
.tz_xlk ul li:first-child{
    border-top:none;
}
.tz_xlk ul li p{
    float:left;
    padding:0;
}
.tz_xlk ul li .tz_jsje{
    float:right;
    font-weight: bold;
}
.tz_xlk ul li .tz_sn{
    float:right;
    color:#ff9454;
    font-weight: bold;
}
.tz_wrap{
    overflow: hidden;
}
.tz_border{
    overflow: hidden;
    padding:0.3999rem 0;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
}
.tz_a{
    float:left;
    color: #333;
    margin-top:0.1333rem;
    font-size: 10px!important;
    width: 2.55936rem;
}
.tz_b{
    float:right;
    width: 6.8rem;
    overflow: hidden;
    padding-right: 4px;
    display: flex;
    justify-content: flex-start;
}
.tz_b ul li{
    float:left;
    width:0.558rem;
    height:0.55986rem;
    margin-left:0.1333rem;
}
.tz_b .caizhongkaijiang,
.tz_b .caizhongkaijiangResult{
    max-width: 100%;
    min-width: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tz_b .caizhongkaijiang li{
    margin-left: 2px!important;
}
.tz_b .caizhongkaijiangResult li{
    margin-left: 3px!important;
}
.tz_c,.tz_d,.tz_time{
    float:right;
    color:#333;
    font-size:0.37324rem;
    margin-top:0.1333rem;
    padding-left:0.6rem;
}
.tz_c em,.tz_d i{
    color:#3170ce;
    font-size: 0.3999rem;
}
.tz_d i{
    color:#f23807;
}
.tz_time{
    width:0.46655rem;
    height:0.49321rem;
    margin-top:0;
}
.tz_box{
    overflow: hidden;
    /*padding-bottom:2rem;*/
    background: #f5f3f2;
}
.tz_l{
    float:left;
    width:2.55936rem;
    height:76vh;
    background:#e5e5e5;
    font-size:0.37324rem;
    font-weight: bold;
    text-align:center;
    color:#333;
    padding-bottom: 3rem;
}
.tz_l ul li{
    padding:0.3999rem 0;
    border-bottom:1px solid #b9b9b9;
}
.tz_l ul .tz_l_alt{
    background:#fff;
    border-bottom:1px solid #ed3b00;
}
.tz_r{
    float:right;
    width:7.43814rem;
    padding-bottom:4rem;
}
.tz_r_w{
    display: none;
}
.tz_r_alt{
    display: block;
    position: relative;
}
.tz_r_b{
    overflow: hidden;
}
.tz_r_t{
    position: relative;
    color:#666;
    font-size:0.37324rem;
    padding:0.2666rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.tz_r_t img{
    width:0.30659rem;
    height:0.19995rem;
    display: inline-block;
}
.tz_r_a{
    overflow: hidden;
    background:#fff;
}
.tz_r_a ul li{
    float:left;
    color:#666;
    width:3.71rem;
    font-size:0.37324rem;
    text-align: center;
    height: 1.2rem;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tz_r_a ul li em{
    color:#f23807;
}
.tz_r_a .zhixuanzhi{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 3rem;*/
}
.tz_r_a .zhixuanzhi.yxx_div{
    height: 3rem;
    flex-direction: column;
}
.tz_r_a .seboLi{
    display: flex;
    /*height: auto;*/
}
.tz_r_a .seboLi.wuxing-box,
.tz_r_a .seboLi.sebo-box{
    display: block;
    height: auto;
}
.tz_r_a .tz_one,.tz_r_a .tz_three{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:none;
    text-align: center;
    width:3.69241rem;
}
.tz_r_a .tz_two,.tz_r_a .tz_fore{
    width:3.69241rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tz_r_a .tz_finally{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.tz_bottom{
    box-shadow: 0 0 10px #999;
    width:10rem;
    position:fixed;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    border-top:1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.tz_bottom_pl{
    background-color: #fff;
    padding:0 0.3999rem;
}
.tz_choice{
    overflow: hidden;
    padding:0.5332rem 0 0.2666rem;
    border-bottom:1px solid #ddd;
}
.tz_choice ul{
    float:left;
}
.tz_choice ul li{
    float:left;
    font-size:0.37324rem;
    padding:0.1rem 0.39rem;
    border-radius:10rem;
    border:1px solid #ed3b00;
    margin-left:0.1333rem;
}
.tz_choice ul li:first-child{
    margin-left:0;
}
.tz_choice .tz_img{
    float:right;
    width:0.73315rem;
    height:0.73315rem;
    margin-top:-0.02666rem;
}
.tz_choice ul .tz_bottom_ctn{
    background:#3296FA;
    color:#fff;
}
.tz_bottom_b{
    overflow: hidden;
    font-size:0.3999rem;
    padding:0.2666rem 0 0.3999rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tz_input,.tz_ys,.tz_qk{
    float:left;
}
.tz_input{

}
.tz_input input{
    width:3.1992rem;
    padding:0.2666rem 0;
    border:1px solid #bdbdbd;
    border-radius: 10rem;
    padding-left:0.02666rem;
}
.tz_input input::-webkit-input-placeholder{
    font-size:0.3999rem;
    color:#999;
    text-align: center;
}
.tz_input input::-moz-placeholder{
    font-size:0.3999rem;
    color:#999;
}
.tz_input input:-moz-placeholder{
    font-size:0.3999rem;
    color:#999;
}
.tz_input input:-ms-input-placeholder{
    font-size:0.3999rem;
    color:#999;
}
.tz_ys{
    color:#666;
    margin-top:0.2666rem;
    margin-left:0.2666rem;
}
.tz_ys img{
    width:0.50654rem;
    height:0.50654rem;
    margin-right:0.1333rem;
    display: inline-block;
}
.tz_qk{
    color:#d08900;
    margin-top:0.2666rem;
    margin-left:0.2666rem;
}
.tz_button{
    float:right;
    color:#fff;
    padding:0.2666rem 0.9rem;
    background:#f54905;
    border-radius: 10rem;
}
.yxx_tu_mc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*弹窗*/
.tz_tc{
    width:10rem;
    height:100vh;
    background:rgba(0,0,0,.4);
    position:fixed;
    top:0;
    left:0;
    display: none;
}
.tz_wf{
    width:6.7983rem;
    margin:0 auto;
    background:#fff;
    font-size:0.42656rem;
    color:#333;
    position:fixed;
    top:25%;
    left:18%;
}
.tz_wf p{
    font-weight: bold;
    padding:0.3999rem 0.3999rem 0.1333rem;
}
.tz_wf .tz_nr{
    padding:0 0.3999rem 0.2666rem;
    font-size: 0.37324rem;
    line-height: 0.46rem;
    border-bottom:1px solid #ddd;
}
.tz_qd{
    color:#f54905;
    text-align: center;
    padding:0.3999rem 0;
}

.tz_r_a .tz_btn{
    background:url(../img/tz_icon_6.png) center center no-repeat;
    background-size:100% 100%;
    z-index:5000;
}
#tz_hide{
    display:none;
    z-index: 99999;
}

/*游戏大厅-投注 END*/
/*充值中心 START*/
.czfs_choice{
    font-size:0.42656rem;
    color:#333;
    padding:0.3999rem;
}
.czfs_choice em{
    color:#f54905;
}
.czfs_box{
    overflow: hidden;
}
.czfs_box ul{
    overflow: hidden;
    background:#fff;
    border-top:1px solid #ddd;
}
.czfs_box ul li{
    float:left;
    color:#333;
    font-size:0.42656rem;
    text-align: center;
    width:3.312rem;
    padding:0.3999rem 0;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
}
.czfs_box ul li:first-child,.czfs_box ul .czzx_zfb{
    border-left:none;
}
.czfs_box ul li:last-child{
    border-right:1px solid #ddd;
}
.czfs_box ul li .czzx_icon{
    width:1.58627rem;
    height:1.58627rem;
    display: block;
    margin:0 auto;
    padding-bottom:0.3999rem;
}
/*充值中心 END*/

.pageDown{
    height: 16px;
    text-align: center;
    font-size:16px;
}
.timeFont{
    font-size:10px;
}
.greenColor{
    color:green;
}
.redColor{
    color:red;
}
.mui-titleH5{
    text-align: right;
    height:1.17304rem;
    line-height:1.17304rem;
    color:white;
    margin:0;
    font-weight:normal;
    position: absolute;
    right:5px;
    top:0;
}
.lkcImg{
    background-image: url('/Public/img/ball-pk.png');
    background-size:  0.55986rem;
    background-repeat: no-repeat;
}
.lkcImg1{
    background-position-y: 1.1%;
}
.lkcImg2{
    background-position-y: 11.3%;
}
.lkcImg3{
    background-position-y: 22%;
}
.lkcImg4{
    background-position-y: 32.5%;
}
.lkcImg5{
    background-position-y: 43%;
}
.lkcImg6{
     background-position-y: 53.6%;
}
.lkcImg7{
    background-position-y: 64%;
}
.lkcImg8{
    background-position-y: 74.8%;
}
.lkcImg9{
    background-position-y: 85.3%;
}
.lkcImg10{
    background-position-y: 95.8%;
}


.lkcImgSpan{
    width: 0.55986rem;
    height: 0.55986rem;
    display: inline-block;
    float:right;
    background-image: url('/Public/img/ball-pk.png');
    background-size:  0.55986rem;
    background-repeat: no-repeat;
}


.ball_cqhlsx{
    background-image: url('/Public/img/ball_cqhlsx.png');
    background-size:  0.55986rem;
    background-repeat: no-repeat;
}

.ball_cqhlsx_span{
    width: 0.55986rem;
    height: 0.55986rem;
    display: inline-block;
    float:right;
    background-image: url('/Public/img/ball_cqhlsx.png');
    background-size:  0.55986rem;
    background-repeat: no-repeat;
}
.ball_cqhlsx0{
    background-position-y: 0;
}
.ball_cqhlsx1{
    background-position-y: 11.1%;
}
.ball_cqhlsx2{
    background-position-y: 22.2%;
}
.ball_cqhlsx3{
    background-position-y: 33.3%;
}
.ball_cqhlsx4{
    background-position-y: 44.4%;
}
.ball_cqhlsx5{
    background-position-y: 55.5%;
}
.ball_cqhlsx6{
    background-position-y: 66.6%;
}
.ball_cqhlsx7{
    background-position-y: 77.7%;
}
.ball_cqhlsx8{
    background-position-y: 88.8%;
}
.ball_cqhlsx9{
    background-position-y: 99.9%;
}
.yxx_div{
    text-align: center;
}
.yxx_em{
    width:100%!important;
    text-align: center!important;
    margin-top:0.2rem;
}
.yxx_name{
    display:block;
}
.yxx_span{
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    background-image: url('/Public/img/yxx.gif');
    background-size:  5rem;
    background-repeat: no-repeat;
}
.yxx_tu_mc span{
    float:left!important;

}
.yxx_tu_mc span:first-child{
    /*margin-left:0.5rem;*/

}
.yxx_tu_em{
    width:auto!important;
    text-align: center!important;
    float:left;
    margin-left:0.1rem;
}
.yxx1{
    background-position-x: 4%;
}
.yxx2{
    background-position-x: 51%;
}
.yxx3{
    background-position-x: 97%;
}
.yxx4{
    background-position-y: 100%;
    background-position-x: 5%;
}
.yxx5{
    background-position-y: 100%;
    background-position-x: 51%;
}
.yxx6{
    background-position-y: 100%;
    background-position-x: 99%;
}
.shaizi{
    width: 0.55986rem;
    height: 0.55986rem;
    display: inline-block;
    float:right;
    background-image: url('/Public/img/ball_4.gif');
    background-size:  0.55986rem;
    background-repeat: no-repeat;
}
.shaizi1{

}
.shaizi2{
    background-position-y: 20.3%;
}
.shaizi3{
    background-position-y: 40.3%;
}
.shaizi4{
    background-position-y: 60.3%;
}
.shaizi5{
    background-position-y: 80.3%;
}
.shaizi6{
    background-position-y: 100%;
}
.exf{
    display: block;
    width: 0.56rem!important;
    height: 0.56rem!important;
    font-size: 0.4rem;
    border-radius: 50%;
    background-color: #0808f3;
    line-height:0.56rem;
    color:white;
    text-align: center;
}
.exf_val{
    display: inline-block;
    width: 0.56rem!important;
    height: 0.56rem!important;
    font-size: 0.4rem;
    border-radius: 50%;
    background-color: #0808f3bf;
    line-height:0.56rem;
    color:white;
    text-align: center;
}
.smallLi{
    width:24.6%!important;
    text-align: center!important;
}
.lineBtn{
    background-color:#e5e5e5!important;
    color:black;
    text-align:center;
    display:inline-block;
    width:2rem;
    height:0.4rem;
    padding:0.15rem 0;
    font-size:0.37324rem;
    line-height:0.4rem;
    margin:0.15rem;
    float:left;
}
.lineBtn_cli{
    border:1px solid rgb(243,73,83);
    background-color: white!important;
}
.seboType{
    display:block;
    width:100%;
    height:0.6rem;
    line-height:0.6rem;
    text-align: center;
    color:black;

}
.seboLi{
    width:100%!important;
}
.em_span{
    color: #f23807;
}
.seboSpan{
    margin:0.1rem 0.15rem;
}
#cart{
    width:100%;
    border-bottom:1px solid #ddd;
    background-color: #fff;

}
.cart-title{
    height:0.8rem;
    background-color: rgb(249,66,19);
    color:white;
}
.cart-title div{
    height:100%;
    width:20%;
    float:left;
    text-align: center;
    font-size:0.45rem;
    line-height:0.8rem;
}
#cart_caizhong{
    width:60%;
}
.cart-title-img{
    width: 0.6rem;
    height: 0.3rem;
    margin-left: 0.2rem;
    margin-top: 0.3rem;
}

.cart-body{
    max-height: 8rem;
    overflow-y: auto;
    width:100%;
}
.cart-body-xiazhu{
    border-bottom: 1px solid #ddd;
    font-size:0.3rem;
    height:1.2rem;
    word-wrap: break-word;
    word-break: normal;
    width:100%;
}
.cart-body-xiazhu div{
    height:100%;
    float:left;
    text-align: center;
    /*line-height:1.2rem;*/
}
.cart-body-xiazhu-money{
    width:20%;
}
.cart-body-xiazhu-money input{
    width:80%!important;
    height:65%!important;
    margin:0!important;
    padding:0!important;
    margin-top:0.2rem!important;
    border-radius: 0.5rem!important;
    text-align: center!important;
}
.cart-body-xiazhu-type{
    width:20%;
}
.cart-body-xiazhu-value{
    /*line-height:1.7!important;*/
    height:100%;
    width:40%;
}
.cart-body-xiazhu-pl{
    width:20%;
}
.cart-body-del{
    background-color:red;
    height:0.8rem!important;
    margin-top:0.2rem;
    line-height:0.8rem!important;
    color:white;
}

.bg-gray{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zhixuanpl{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 0.15rem 0;
    margin: 0.15rem;
    width: 2.6rem;
    height: 0.4rem;
    font-size:0.4rem;
    text-align: right;
}

#xiazhujine {
    font-weight: bold;
    font-size: 16px!important;
    width: 4.5rem;
    padding: 0 0.2rem!important;
    border-radius: 40px;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.todyMoney{
    font-size: 0.36rem;
    text-align: right;
}

#is-selected{
    width: 2rem;
    position: absolute;
    bottom: 2.1rem;
    background-color: #999;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border-radius: 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    left: 4rem;
    margin: 0!important;
}

.btn-col-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-yushe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-title-span-edit{
    font-size: 0.32rem;
}

.cart-body-xiazhu .cart-body-xiazhu-type{
    font-size: 0.32rem;
}
.cart-body-xiazhu-pl{
    line-height: 1.2rem;

}
.lianghang{
    width:100%;
    height:50%!important;
    text-align: center;
    line-height:0.6rem;
    font-size:12px;
}
.yihang{
    width:100%;
    height:100%!important;
    text-align: center;
    line-height:1.2rem;
    font-size:12px;
}

.tz_qk.qingkong,
.tz_ys.yushe{
    margin: 0 2px!important;
    padding: 0 0.6rem;
    background-color: #999;
    color: #FFF;
    font-size: 0.36rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-radius: 0.4rem;
}

.cart-body-xiazhu-pl.cart-body-del{
    border-radius: 0.4rem;
    position: relative;
    right: 0.1rem;
    background-color: #f54905;
}

img{
    vertical-align: middle;
}
.container{
    display: flex;
    flex-direction: column;
}
.topic{
    background-color: #3d383f;
    height: 5.6rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.4667rem 0 0.667rem;
}
.logo-box img{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    border: 0.1333rem solid #aaa;
    border-radius: 100%;
}
.qrcode-btn{
    position: absolute;
    top: 1.04rem;
    right: 0.48rem;
    width: 0.43rem;
    height: 0.43rem;
}
.btn-tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.4rem;
    position: absolute;
    bottom: 0;
}
.btn-tag{
    width: 1rem;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 0.867rem;
}
.btn-line{
    display: block;
    margin: 0 1.87rem;
    height: 0.347rem;
    width: 2px;
    background-color: #999;
    position: relative;
}
.btn-focus:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0.3rem;
    display: inline-block;
    border: 0.2rem solid transparent;
    border-bottom-color: #fff;
}
.login-box{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}
.login-box .input-row{
    border-bottom: 1px solid #ddd;
    padding: 0.3rem 0 0.1rem;
}
.login-box .input-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-box .input-check img{
    height: 0.827rem;
    width: 2.227rem;
}
.input-username input{
    background: url("/Public/images/icon-input-user.png") 0.05rem center no-repeat;
}
.input-passowrd input{
    background: url("/Public/images/icon-input-password.png") 0.05rem center no-repeat;
}
.input-check input{
    background: url("/Public/images/icon-input-check.png") 0.05rem center no-repeat;
}
.input-phone input{
    background: url("/Public/images/icon-input-phone.png") 0.05rem center no-repeat;
}
.input-tui input{
    background: url("/Public/images/icon-input-tui.png") 0.05rem center no-repeat;
}
.input-qq input{
    background: url("/Public/images/icon-input-qq.png") 0.05rem center no-repeat;
}
.login-box .input-row input{
    border: 0;
    outline: 0;
    padding-left: 0.7rem;
    background-color: transparent;
    background-size: 0.453rem;
    font-size: 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
}
.about-btns{
    display: flex;
    justify-content: center;
    padding: 0.4rem 0;
}
.register-content .about-btns{
    margin-top: -0.6rem;
}
.register-content{
    padding-bottom: 2rem;
}
.about-btns a{
    color: #777;
    font-size: 0.32rem;
    line-height: 0.4rem;
    padding: 0 0.32rem;
}
.about-btns a+a{
    border-left: 1px solid #777;
}
.submit-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit-btn input{
    background: linear-gradient(to right, #fe7700, #f23807);
    width: 89%;
    height: 45px;
    margin: 25px auto;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    color: #fff;
    border-radius: 23px;
    border: 0;
    outline: none;
}
.dialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.dialog .bg-gray{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.dialog-content .img-box{
    width: 4rem;
    height: 4rem;
}
.dialog-content h4{
    font-size: 0.4rem;
    line-height: 0.8rem;
    margin: 0;
}
.dialog-content p{
    font-size: 0.28rem;
    line-height: 2;
}
.dialog .copy-btn{
    border: 3px solid #e9001d;
    line-height: 24px;
    height: 24px;
    border-radius: 20px;
    font-size: 0;
    overflow: hidden;
}
.copy-btn .copy-text{
    padding: 0 0.2rem;
    color: #fff;
    background-color: transparent;
    font-size: 0.4rem;
    line-height: 24px;
}
.copy-btn .copys{
    outline: 0;
    padding: 0 0.2rem;
    color: #fff;
    font-size: 0.4rem;
    line-height: 24px;
    background-color: #e9001d;
    border: 2px solid #e9001d;
    margin-right: -3px;
}